:root {
    --login-card-height: 100px;
    --login-card-width: 350px;

    --graph-width: 600px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usergraphsgrid__container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 90vw;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--graph-width)); /* Los 600px definen el ancho de .usergraph__item */
}

.usergraph__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.first_line {
    opacity: 0.9;
}
.second_line {
    opacity: 0.6;
}

.usergraph__createcontainer {
    margin: 30px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usergraph__firstrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.usergraph__delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.selectgraphtag {
    font-size: 14px;
    font-family: Georgia, serif;
}

.usergraph__delete:hover {
    cursor: pointer;
    background-color: rgba(249, 24, 128, 0.1);
}

.usergraph__delete:active {
    background-color: rgba(249, 24, 128, 0.2);
}

.usergraph__delete > p {
    color: red;
    margin-left: 5px;
}

.usergraph__selecttag {
    width: 120px;
}

.usergraph__createtag__left {
    width: 250px;
}

.usergraph__createtag__right {
    width: 120px;
}

.usergraph__reload {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 233, 233);
}

.usergraph__reload:hover {
    cursor: pointer;
    background-color: lightgray;
}

.usergraph__reload:active {
    background-color: rgb(223, 222, 222);
}

.usergraph__reload > p {
    margin-right: 5px;
}

.usergraph__middleinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 180px;
    font-size: 14px;
    color: gray;
}

.usergraph__timestamp__first {
    margin-right: 4px;
}

.usergraph__loadinggraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 558px;
    height: 279px;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    position: relative;
}

.usergraph__loadinggraph__type {
    font-weight: 900;
    font-size: 14px;
    color: rgb(94, 94, 94);
    position: absolute;
    top: 5px;
}

.usergraph__loadinggraph__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usergraph__loadinggraph__info > p {
    font-weight: bold;
    color: rgb(109, 109, 109);
    margin-right: 10px;
}

.usergraph__createbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-bottom: 20px;
}

.usergraph__createbutton > p {
    margin-right: 7px;
    font-size: 16px;
}

.usergraph__createbutton:hover {
    cursor: pointer;
    background-color: lightgray;
}

.usergraph__createtagrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.loginandfakegraphs {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fakegraphs > img {
    max-width: 90vw;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.login__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid black;
    width: var(--login-card-width);
    height: var(--login-card-height);
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: box-shadow 0.5s;
    /* transition: all 0.5s; */
}

.login__button > p {
    margin-right: 10px;
}

.login__button > img {
    height: 35px;
}

.login__button:hover {
    /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3); */
    box-shadow: rgb(231, 231, 231) 0px 20px 30px -10px;
    transition: box-shadow 0.5s;
    border: none;
    margin: 3px;
    /* animation: bubble 0.4s ease-out; */

    /* transition: all 0.5s; */
    /* border: 3.5px solid rgba(0, 0, 0, 0.5); */
    /* padding: 3.5px; */
    /* border: 3.5px solid white; */
}

.login__button:active {
    background-color: rgb(238, 238, 238);
}

.login__button:hover:before {
    content: "";
    width: calc(var(--login-card-width) + 8px);
    height: calc(var(--login-card-height) + 8px);
    border-radius: 13px;
    background-image: linear-gradient(
        var(--rotate)
        , #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
    position: absolute;
    z-index: -1;
    animation: spin 5s linear infinite;
    transition: all 0.5s;
}

.login__button:hover:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    height: calc(var(--login-card-height) - 50px);
    width: calc(var(--login-card-width) + 40px);
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--login-card-height) / 2));
    background-image: linear-gradient(
    var(--rotate)
    , #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
    animation: spin 5s linear infinite;
    transition: all 0.5s;
}

@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}

.fakegraphs {
    margin-top: 75px;
}


/* ======= ALERT BOXES ======= */
/* ===== PROFILE BOX ===== */
.profilebox__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: opacity-bng 0.25s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.profilebox__container {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    /* padding: 25px 30px; */
    border-radius: 10px;
    background-color: white;
    animation: drop 0.2s ease forwards;
    z-index: 998;
}

.profilebox__title__row {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.profilebox__title__row > h2 {
    font-size: 24px;
    font-weight: 700;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.profilebox__options__row {
    /* border: 1px solid red; */
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profilebox__logoutbutton {
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #28282B;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #28282B;
    padding-left: 17px;
    padding-right: 17px;
}

.profilebox__logoutbutton:hover {
    cursor: pointer;
    animation: changecolor 0.25s ease forwards;
}

.profilebox__cancelbutton {
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #f14668;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #f14668;
    padding-left: 17px;
    padding-right: 17px;
}

.profilebox__cancelbutton:hover {
    cursor: pointer;
    animation: changecolorred 0.25s ease forwards;
}

.alertbox__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: opacity-bng 0.25s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.alertbox__alert__container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 25px 30px;
    max-width: 500px;
    background-color: white;
    animation: zoom 0.25s ease forwards;
    z-index: 999;
}

.alertbox__alert__container > h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.alertbox__alerticon {
    margin-bottom: 15px;
}

.alertbox__alertbutton {
    margin-top: 20px;
    padding: 12px;
    width: 50%;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-width: 0;
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(20, 20, 23);
}

/* ===== ALERTBOX INFO ===== */
.alertbox__info__container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 25px 30px;
    max-width: 500px;
    background-color: white;
    animation: zoom 0.25s ease forwards;
    z-index: 999;
}

.alertbox__info__container > h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

.alertbox__infoicon {
    margin-bottom: 15px;
}

.alertbox__infobutton {
    margin-top: 20px;
    padding: 12px;
    width: 50%;
    cursor: pointer;
    color: black;
    font-size: 16px;
    border-width: 1;
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(232, 255, 232);
    border-color: green;
}

/* ======== Zoom effect ======== */
@keyframes zoom {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.2, 0.2);
    }
    60% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.2, 1.2);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

@keyframes opacity-bng {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ======== Drop effect ======== */
@keyframes drop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes changecolor {
    0% {
        color: white;
        background-color: #28282B;
    }

    100% {
        color: black;
        background-color: white;
    }
}

@keyframes changecolorred {
    0% {
        color: white;
        background-color: #f14668;
    }
    
    100% {
        color: #f14668;
        background-color: white;
    }
}

/* ============ MEDIA AND CSS REDUCTION ============ */

/* For mobile phones */
@media only screen and (max-width: 450px) {
    :root {
        --graph-width: 90vw;
    }

    .usergraphsgrid__container {
        width: 95vw;
    }
    
    .usergraph__item {
        padding: 10px;
    }

    .usergraph__loadinggraph {
        width: calc(var(--graph-width) - 22px);
        height: calc((var(--graph-width) - 22px) / 2);
    }
    
    .usergraph__loadinggraph__type {
        font-weight: 900;
        font-size: 12px;
    }
}