.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usergraphsgrid__container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 90vw;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 600px); /* Los 600px definen el ancho de .usergraph__item */
}

.usergraph__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.usergraph__createcontainer {
    margin: 30px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usergraph__firstrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid red;
}

.usergraph__delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.usergraph__delete:hover {
    cursor: pointer;
    background-color: lightgray;
}

.usergraph__delete > p {
    color: red;
    margin-left: 5px;
}

.usergraph__selecttag {
    width: 160px;
}

.usergraph__reload {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 233, 233);
}

.usergraph__reload:hover {
    cursor: pointer;
    background-color: lightgray;
}

.usergraph__reload > p {
    margin-right: 5px;
}

.usergraph__timestamp {
    font-weight: bold;
    font-size: 14px;
    color: gray;
    margin: 0px;
    border: 1px solid red;
}

.usergraph__loadinggraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 558px;
    height: 279px;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
}

.usergraph__loadinggraph > p {
    font-weight: bold;
    color: rgb(109, 109, 109);
    margin-right: 10px;
}

.usergraph__createbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-bottom: 20px;
}

.usergraph__createbutton > p {
    margin-right: 7px;
    font-size: 16px;
}

.usergraph__createbutton:hover {
    cursor: pointer;
    background-color: lightgray;
}

.usergraph__createtagrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.loginandfakegraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --login-card-height: 100px;
    --login-card-width: 300px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.login__button {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    border-radius: 6px;
    width: var(--login-card-width);
    height: var(--login-card-height);
    /* padding: 3px; */
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    background-color: white;
    transition: box-shadow 0.5s;
    /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3); */
}

.login__button:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
}

.login__button:hover:before, .login__button:hover:after {
    animation: none;
    opacity: 0;
}

/* .login__button::before {
    content: "";
    width: calc(var(--login-card-width) + 10px);
    height: calc(var(--login-card-height) + 10px);
    border-radius: 10px;
    background-image: linear-gradient(
        var(--rotate),
        #5ddcff, 
        #3c67e3 43%, 
        #4e00c2);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
} */

.login__button::after {
    position: absolute;
    content: "";
    /* top: calc(var(--login-card-height) / 6); */
    left: 0;
    right: 0;
    z-index: -1;
    height: var(--login-card-height);
    width: calc(var(--login-card-width) + 10px);
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--login-card-height) / 2));
    /* background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2); */
    background-image: linear-gradient(
    var(--rotate)
    , #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }