:root {
    --login-card-height: 100px;
    --login-card-width: 350px;

    --graph-width: 600px;

    --footer-height: 200px;
}

body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "inter", sans-serif;
}

.loadinggraphs {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.header_and_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* === Header === */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
}

.header__item + .header__item {
    margin-left: 50px;
} 

/* === Get Pro Button === */
.getpro__button {
    /* position: absolute; */
    /* right: 150px; */
    /* top: 25px; */
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-width: 0;
    background-color: #28282B;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    animation: bubble-out 0.3s ease forwards;
}

.getpro__button:hover {
    cursor: pointer;
    animation: bubble-in 0.3s ease forwards;
}

.getpro__notbought {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.getpro__notbought > h2 {
    margin-left: 4px;
    font-size: 20px;
}

/* === Create Graph Button === */

.creategraph__button {
    /* position: absolute; */
    /* right: 300px; */
    /* top: 25px; */
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border-style: solid;
    border-color: #28282B;
    border-width: 4px;
    background-color: white;
    animation: bubble-out 0.3s ease forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creategraphbutton__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.creategraph__button:hover {
    cursor: pointer;
    animation: bubble-in 0.3s ease forwards;
}

.creategraphbutton__container > h2 {
    margin-left: 5px;
    font-size: 18px;
    color: #28282B;
}

/* === User Circle === */
.usercircle__button {
    /* position: absolute; */
    /* right: 50px; */
    /* top: 20px; */
    width: 60px;
    height: 60px;
    margin-right: 50px;
    border-radius: 50%;
    border-color: #28282B;
    border-style: solid;
    border-width: 5px;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bubble-out 0.3s ease forwards;
}

.usercircle__button:hover {
    cursor: pointer;
    animation: bubble-in 0.3s ease forwards;
}

.usercircle__button > img {
    width: auto;
    height: 120%;
}

.usergraphsgrid__container {
    margin-top: 10px;  /* think about this value */
    margin-bottom: 5vh;
    width: 90vw;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--graph-width)); /* Los 600px definen el ancho de .usergraph__item */
    /* font-family: "inter", sans-serif; */
}

.usergraph__graphcontainer {
    border: 1px solid red;
    /* max-height: 300px; */
    /* height: 300px; */
    /* position: relative; */
}

.gettemplatewizard__container {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff020;
    background-color: rgb(255, 255, 149);
    position: relative;
}

.gettemplatewizard__container > h2 > a {
    text-decoration: underline;
    color: rgb(71, 71, 71);
}

.gettemplatewizard__container > ol > li > a {
    text-decoration: underline;
    color: rgb(71, 71, 71);
}

.gettemplatewizard__container > ol {
    line-height: 1.5;
}

.gettemplatewizard__container > p {
    font-style: italic;
} 

.wizardwarningicon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.usergraph__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* max-width: calc(95vw - 40px); */
    border-radius: 10px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.first_line {
    opacity: 0.9;
}
.second_line {
    opacity: 0.6;
}

.usergraph__createcontainer {
    margin: 30px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usergraph__firstrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.usergraph__delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.selectgraphtag {
    font-size: 14px;
    /* font-family: Georgia, serif; */
}

.usergraph__delete:hover {
    cursor: pointer;
    background-color: rgba(249, 24, 128, 0.1);
}

.usergraph__delete:active {
    background-color: rgba(249, 24, 128, 0.2);
}

.usergraph__delete > p {
    color: red;
    margin-left: 5px;
}

.usergraph__selecttag {
    width: 120px;
}

.usergraph__createtag__left {
    width: 250px;
}

.usergraph__createtag__right {
    width: 120px;
}

.usergraph__reload {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(233, 233, 233);
}

.usergraph__reload:hover {
    cursor: pointer;
    background-color: lightgray;
}

.usergraph__reload:active {
    background-color: rgb(223, 222, 222);
}

.usergraph__reload > p {
    margin-right: 5px;
}

.usergraph__middleinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 190px;
    font-size: 14px;
    color: gray;
}

.usergraph__timestamp__first {
    margin-right: 4px;
}

.usergraph__loadinggraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 558px;
    height: 279px;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    position: relative;
}

.usergraph__loadinggraph__type {
    font-weight: 900;
    font-size: 14px;
    color: rgb(94, 94, 94);
    position: absolute;
    top: 5px;
}

.usergraph__loadinggraph__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usergraph__loadinggraph__info > p {
    font-weight: bold;
    color: rgb(109, 109, 109);
    margin-right: 10px;
}

.usergraph__createbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    margin-bottom: 20px;
}

.usergraph__createbutton > p {
    margin-right: 7px;
    font-size: 16px;
}

.usergraph__createbutton:hover {
    cursor: pointer;
    background-color: lightgray;
}

.usergraph__createtagrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.landingpage__backgroundwrapper {
    width: 100%;
    height: 100%;
    background:
        radial-gradient(#cacaca 1px, transparent 1px); /* creates a pattern of dark gray dots (#333) with a radius of 1px */
    background-size: 20px 20px, 20px 20px; /* Adjust the size for the spacing of the dots */
    background-color: white;
    /* filter: blur(10px); */
    background-blend-mode: normal, multiply;
    z-index: 0;
    /*animation: wave_size 10s infinite linear; /* Apply the animation */
}

/* Background dots animation */
@keyframes wave {
    0% {
      background-position: 0 0, 0 0;
    }
    25% {
      background-position: 50px 50px, 0 0;
    }
    50% {
      background-position: 100px 0, 0 0;
    }
    75% {
      background-position: 50px -50px, 0 0;
    }
    100% {
      background-position: 0 0, 0 0;
    }
  }

@keyframes wave_size {
    0% {
        background-size: 20px 20px, 20px 20px;
    }
    25% {
        background-size: 22px 22px, 20px 20px;
    }
    50% {
        background-size: 25px 25px, 20px 20px;
    }
    75% {
        background-size: 22px 22px, 20px 20px;
    }
    100% {
        background-size: 20px 20px, 20px 20px;
    }
}

.landingpagecontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.loginandfakegraphs {
    margin-top: 8vh;
    margin-bottom: 10vh;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.builtbyjoaquin__button {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 25px; */
    text-decoration: none;
    color: rgb(105, 105, 105);
    background-color: rgba(255, 255, 255, 0.6); /* Add a semi-transparent background for readability */
}

.builtbyjoaquin__button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(105, 105, 105);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.builtbyjoaquin__button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.landingpage__title {
    margin: 20px 0px;
    font-size: 60px;
    text-align: center;
}

.landingpage__subtitle {
    margin: 10px 0px;
    margin-bottom: 60px;
    font-size: 20px;
    color: rgb(105, 105, 105);
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6); /* Add a semi-transparent background for readability */
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow to the text */
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.login__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid black;
    width: var(--login-card-width);
    height: var(--login-card-height);
    /* font-family: "inter", sans-serif; */
    font-style: normal;
    font-weight: 700 !important;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: box-shadow 0.5s;
    /* transition: all 0.5s; */
}

.login__button > p {
    margin-right: 10px;
}

.login__button > img {
    height: 35px;
}

.login__button:hover {
    /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3); */
    box-shadow: rgb(231, 231, 231) 0px 20px 30px -10px;
    transition: box-shadow 0.5s;
    border: none;
    margin: 3px;
    /* animation: bubble 0.4s ease-out; */

    /* transition: all 0.5s; */
    /* border: 3.5px solid rgba(0, 0, 0, 0.5); */
    /* padding: 3.5px; */
    /* border: 3.5px solid white; */
}

.login__button:active {
    background-color: rgb(238, 238, 238);
}

.login__button:hover:before {
    content: "";
    width: calc(var(--login-card-width) + 8px);
    height: calc(var(--login-card-height) + 8px);
    border-radius: 13px;
    background-image: linear-gradient(
        var(--rotate)
        , #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
    position: absolute;
    z-index: -1;
    animation: spin 5s linear infinite;
    transition: all 0.5s;
}

.login__button:hover:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    height: calc(var(--login-card-height) - 50px);
    width: calc(var(--login-card-width) + 40px);
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--login-card-height) / 2));
    background-image: linear-gradient(
    var(--rotate)
    , #fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
    animation: spin 5s linear infinite;
    transition: all 0.5s;
}

.landingpage__fakegraphs {
    margin-top: 60px;
}

.landingpage__fakegraphs > img {
    /* width: 90vw; */
    width: 100%;
    max-width: 1400px;
    animation: 0.5s ease-out slideInUp;
}

.landingpage__templateshow {
    margin-top: 120px;
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landingpage__templatedescription {
    width: 45%;
    padding-right: 60px;
    padding-left: 60px;
}

.landingpage__templatedescription > h2 {
    font-size: 42px;
}

.landingpage__templatedescription > p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(105, 105, 105);
    background-color: rgba(255, 255, 255, 0.6); /* Add a semi-transparent background for readability */
    margin: 0;
    margin-bottom: 15px;
}

.landingpage__templatedescription > p > a {
    text-decoration: underline;
    color: rgb(71, 71, 71);
}

.landingpage__templateimagesstack {
    position: relative;
    width: 55%;
    max-width: 600px;
    height: 600px;
}

.templateimagestacksquare {
    width: 450px;
    height: 450px;
    position: absolute;
    top: calc(50% - 450px/2);
    left: calc(50% - 450px/2);
    background: linear-gradient(112.1deg, #28282B 11.4%, rgb(63, 76, 119) 70.2%);
    border-radius: 20px;
    z-index: 0;
}

.templateimage {
    position: absolute;
    width: 400px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: transform 1s ease;
}

.image1 {
    top: 0;
    left: 0;
}

.image1:hover {
    transform: 
        scale(1.05)
        translateX(55px)
        translateY(20px);
    z-index: 1;
}

.image2 {
    bottom: 0px;
    right: 0;
}

.image2:hover {
    transform: 
        scale(1.05)
        translateX(-55px)
        translateY(-20px);
    z-index: 1;
}

.landingpage__instructions__container {
    margin-top: 120px;
    width: 100%;
    max-width: 1400px;
    /* max-width: 1024px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landingpage__instructions {
    width: 45%;
    padding-right: 60px;
    padding-left: 60px;
}

.landingpage__instructions > ol > li > a {
    text-decoration: underline;
    color: rgb(71, 71, 71);
}

.landingpage__instructionsimage {
    width: 55%;
    position: relative;
    height: 600px;
    /* border: 1px solid red; */
}

.templateimagestackrectangle {
    width: 400px;
    height: 506px;
    position: absolute;
    top: calc(50% - 506px/2);
    left: calc(50% - 400px/2);
    background: linear-gradient(112.1deg, #28282B 11.4%, rgb(63, 76, 119) 70.2%);
    border-radius: 20px;
    z-index: 0;
}

.landingpage__instructionsimage > img {
    width: 400px;
    position: absolute;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: transform 1s ease;
}

.landingpage__instructionsimage > img:hover {
    transform:
        translateX(20px)
        translateY(25px);
}

.landingpage__instructions > h2 {
    font-size: 42px;
}

.landingpage__instructions > p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(105, 105, 105);
    background-color: rgba(255, 255, 255, 0.6); /* Add a semi-transparent background for readability */
    margin: 0;
    margin-bottom: 15px;
}

.landingpage__instructions > ol {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(105, 105, 105);
    background-color: rgba(255, 255, 255, 0.6); /* Add a semi-transparent background for readability */
}

@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}

/* ======= ALERT BOXES ======= */
/* ===== PRIVACY BOX ===== */
.privacybox__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: opacity-bng 0.4s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.privacybox__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    padding: 20px 20px;
    max-width: calc(95vw - 40px);
    max-height: calc(95vh - 40px);
    overflow-y: auto;
    border-radius: 10px;
    background-color: white;
    animation: bubble 0.3s ease-in-out;
    z-index: 998;
}

.privacybox__text__row {
    margin-bottom: 10px;
}

.privacybox__cancelbutton {
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #f14668;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #f14668;
    padding-left: 17px;
    padding-right: 17px;
}

.privacybox__cancelbutton:hover {
    cursor: pointer;
    animation: changecolorred 0.25s ease forwards;
}

/* ===== TERMS BOX ===== */
.termsbox__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: opacity-bng 0.4s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.termsbox__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    padding: 20px 20px;
    max-width: calc(95vw - 40px);
    max-height: calc(95vh - 40px);
    overflow-y: auto;
    border-radius: 10px;
    background-color: white;
    animation: bubble 0.3s ease-in-out;
    z-index: 998;
}

.termsbox__text__row {
    margin-bottom: 10px;
} 

.termsbox__cancelbutton {
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #f14668;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #f14668;
    padding-left: 17px;
    padding-right: 17px;
}

.termsbox__cancelbutton:hover {
    cursor: pointer;
    animation: changecolorred 0.25s ease forwards;
}

/* ===== CREATE GRAPH BOX ===== */
.creategraphbox__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: opacity-bng 0.4s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.creategraphbox__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 700px; */
    max-width: calc(95vw - 20px);
    max-height: 95vh;
    border-radius: 10px;
    background-color: white;
    animation: zoom_100 0.2s ease forwards;
    /* overflow-y: auto; */
    z-index: 998;
}

.creategraphbox__container > h1 {
    position: absolute;
    top: 20px;
    left: 25px;
    margin: 0;
    padding: 0;
    font-size: 24px;
    /* color: rgb(99, 99, 99); */
    color: #28282B;
}

.creategraphbox__cancelbutton {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-radius: 5px;
    border-width: 0;
    color: rgb(99, 99, 99);
    padding: 0;
    margin: 0;
    background-color: white;
    transition: background-color 0.25s ease-out;
}

.creategraphbox__cancelbutton:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
}

.creategraphbox__contentandlow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 68px;
    overflow-y: auto;
}

.creategraphsstep__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    padding: 0 20px;
}

.creategraphbox__nextbackrow {
    width: calc(100% - 40px);
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.creategraphsstep1__type {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: first;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.creategraphsstep1__type > h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
}

.creategraphsstep1__type > p {
    margin-left: 20px;
    margin-top: 0;
    color: rgb(105, 105, 105);
}

.creategraphsstep1__tag {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: first;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.creategraphsstep1__tag > h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
}

.creategraphsstep1__tag > p {
    margin-left: 20px;
    margin-top: 0;
    color: rgb(105, 105, 105);
}

.creategraphsstep1__buttons {
    margin: 20px;
    margin-top: 12px;
    width: calc(165px * 3 + 40px * 2);  /* Spacing between each button: 40px */
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.creategraphsstep1__buttons > button {
    width: 165px;
    height: 145px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: white;
    background-color: white;
    color: rgb(144, 144, 144);
}

.creategraphsstep1__buttons > button.tags {
    height: 80px;
}

.creategraphsstep1__buttons > button.selected {
    border-color: #28282B;
    color: #28282B;
    transition: color 0.25s ease;
}

.creategraphsstep1__buttons > button:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
    /* transition: background-color 0.25s ease; */
    /* transition: color 1s ease; */
}

.creategraphsstep1__buttons > button:active {
    background-color: rgb(222, 222, 222);
    border-color: rgb(222, 222, 222);;
}

.creategraphsstep1__buttons > button.selected:hover {
    border-color: #28282B;
}

.creategraphsstep1__buttons > button > p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.creategraphsstep3__groupby {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: first;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.creategraphsstep3__groupby > h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
}

.creategraphsstep3__groupby > p {
    margin-left: 20px;
    margin-top: 0;
    color: rgb(105, 105, 105);
}

.creategraphsstep3__time {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: first;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    border-radius: 10px;
}

.creategraphsstep3__time > h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
}

.creategraphsstep3__time > p {
    margin-left: 20px;
    margin-top: 0;
    color: rgb(105, 105, 105);
}

.creategraphsstep3__plot {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: first;
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    border-radius: 10px;
}

.creategraphsstep3__plot > h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
}

.creategraphsstep3__plot > p {
    margin-left: 20px;
    margin-top: 0;
    color: rgb(105, 105, 105);
}

.selectplottype {
    margin: 20px;
    margin-top: 12px;
}

.creategraphsstep3__buttons {
    margin: 20px;
    margin-top: 12px;
    width: calc(165px * 3 + 40px * 2);  /* Spacing between each button: 40px */
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.creategraphsstep3__buttons > button {
    width: 165px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: white;
    background-color: white;
    color: rgb(144, 144, 144);
}

.creategraphsstep3__buttons > button.selected {
    border-color: #28282B;
    color: #28282B;
    transition: color 0.25s ease;
}

.creategraphsstep3__buttons > button:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
}

.creategraphsstep3__buttons > button:active {
    background-color: rgb(222, 222, 222);
    border-color: rgb(222, 222, 222);;
}

.creategraphsstep3__buttons > button.selected:hover {
    border-color: #28282B;
}

.creategraphsstep3__buttons > button > p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.creategraphsstep2__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: first;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.creategraphsstep2__graphTypeText {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.creategraphsstep2__graphTypeText > h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 5px;
}

.creategraphsstep2__buttons {
    margin: 20px;
    margin-top: 12px;
    width: calc(165px * 3 + 40px * 2);  /* Spacing between each button: 40px */
    max-width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.creategraphsstep2__buttons.incomes {
    align-items: stretch;
}

.creategraphsstep2__verticalbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(145px * 2 + 40px);  /* Spacing between each button: 40px */
}

.creategraphsstep2__verticalbuttons > button {
    width: 165px;
    height: 145px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: white;
    background-color: white;
    color: rgb(144, 144, 144);
}

.creategraphsstep2__verticalbuttons > button.selected {
    border-color: #28282B;
    color: #28282B;
    transition: color 0.25s ease;
}

.creategraphsstep2__verticalbuttons > button:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
}

.creategraphsstep2__verticalbuttons > button:active {
    background-color: rgb(222, 222, 222);
    border-color: rgb(222, 222, 222);;
}

.creategraphsstep2__verticalbuttons > button.selected:hover {
    border-color: #28282B;
}

.creategraphsstep2__verticalbuttons > button > p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.creategraphsstep2__buttons > button {
    width: 165px;
    height: 145px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: white;
    background-color: white;
    color: rgb(144, 144, 144);
}

.creategraphsstep2__buttons > button.withselect {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.creategraphsstep2__verticalbuttons > button.withselect {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.createcategoryselect {
    width: 100%;
}

.creategraphsstep2__buttons > button.selected {
    border-color: #28282B;
    color: #28282B;
    transition: color 0.25s ease;
}

.creategraphsstep2__buttons > button:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
}

.creategraphsstep2__buttons > button:active {
    background-color: rgb(222, 222, 222);
    border-color: rgb(222, 222, 222);;
}

.creategraphsstep2__buttons > button.selected:hover {
    border-color: #28282B;
}

.creategraphsstep2__buttons > button > p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.creategraphsstep2__buttons > button > p.withselect {
    padding-left: 10px;
    padding-right: 10px;
}

.creategraphsstep2__verticalbuttons > button > p.withselect {
    padding-left: 10px;
    padding-right: 10px;
}

.creategraphbox__backbutton {
    margin-right: 15px;
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #28282B;
    font-weight: 600;
    font-size: 15px;
    color: #28282B;
    background-color: white;
    padding-left: 17px;
    padding-right: 17px;
}

.creategraphbox__backbutton:hover {
    cursor: pointer;
    animation: changecolor_oposite 0.25s ease forwards;
}

.creategraphbox__nextbutton {
    margin: 0;
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #28282B;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #28282B;
    padding-left: 17px;
    padding-right: 17px;
}

.creategraphbox__nextbutton:hover {
    cursor: pointer;
    animation: changecolor 0.25s ease forwards;
}

/* ===== GET PRO BOX ===== */
.getprobox__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: opacity-bng 0.4s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.getprobox__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    animation: bubble 0.3s ease-in-out;
    z-index: 998;
}

.getprobox__text__row {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.getprobox__options__row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.getprobox__getprobutton {
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #28282B;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #28282B;
    padding-left: 17px;
    padding-right: 17px;
}

.getprobox__getprobutton:hover {
    cursor: pointer;
    animation: changecolor 0.25s ease forwards;
}

.getprobox__cancelbutton {
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #f14668;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #f14668;
    padding-left: 17px;
    padding-right: 17px;
}

.getprobox__cancelbutton:hover {
    cursor: pointer;
    animation: changecolorred 0.25s ease forwards;
}

/* .profilebox__container {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    animation: drop 0.2s ease forwards;
    z-index: 998;
}

.profilebox__title__row {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.profilebox__title__row > h2 {
    font-size: 24px;
    font-weight: 700;
} */

/* ===== PROFILE BOX ===== */
.boxmanager {
    font-family: "inter", sans-serif;
}

.profilebox__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: opacity-bng 0.25s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
}

.profilebox__container {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    animation: drop 0.2s ease forwards;
    z-index: 998;
}

.profilebox__title__row {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.profilebox__title__row > h2 {
    font-size: 24px;
    font-weight: 700;
}

.profilebox__options__row {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profilebox__logoutbutton {
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #28282B;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #28282B;
    padding-left: 17px;
    padding-right: 17px;
}

.profilebox__logoutbutton:hover {
    cursor: pointer;
    animation: changecolor 0.25s ease forwards;
}

.profilebox__cancelbutton {
    height: 44px;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    border-color: #f14668;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #f14668;
    padding-left: 17px;
    padding-right: 17px;
}

.profilebox__cancelbutton:hover {
    cursor: pointer;
    animation: changecolorred 0.25s ease forwards;
}

.alertbox__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: opacity-bng 0.25s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.alertbox__alert__container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 25px 30px;
    max-width: 500px;
    background-color: white;
    animation: zoom 0.25s ease forwards;
    z-index: 999;
}

.alertbox__alert__container > h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

.alertbox__alerticon {
    margin-bottom: 15px;
}

.alertbox__alertbutton {
    margin-top: 20px;
    padding: 12px;
    width: 50%;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border-width: 0;
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(20, 20, 23);
}

/* ===== ALERTBOX INFO ===== */
.alertbox__info__container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 25px 30px;
    max-width: 500px;
    background-color: white;
    animation: zoom 0.25s ease forwards;
    z-index: 999;
}

.alertbox__info__container > h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

.alertbox__infoicon {
    margin-bottom: 15px;
}

.alertbox__infobutton {
    margin-top: 20px;
    padding: 12px;
    width: 50%;
    cursor: pointer;
    color: black;
    font-size: 16px;
    border-width: 1;
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(232, 255, 232);
    border-color: green;
}

/* ===== LANDING PAGE FOOTER ===== */
.landingpagefooter__container {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: rgb(233, 238, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;   /* This is for sticking footer at bottom of landing page */
}

.landingpagefooter__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
    width: 150px;
}

.landingpagefooter__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.landingpagefooter__text > p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.landingpagefooter__privacyterms {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}

.landingpagefooter__button {
    position: relative;
    color: rgb(98, 126, 255);
}

.landingpagefooter__button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(98, 126, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.landingpagefooter__button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.landingpagefooter__button:hover {
    cursor: pointer;
}

/* ======== Zoom effect ======== */
@keyframes zoom {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.2, 0.2);
    }
    60% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.2, 1.2);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

@keyframes zoom_100 {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

@keyframes opacity-bng {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bubble {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes bubble-in {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes bubble-out {
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.1);
    }
}

/* ======== Drop effect ======== */
@keyframes drop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes changecolor {
    0% {
        color: white;
        background-color: #28282B;
    }

    100% {
        color: #28282B;
        background-color: white;
    }
}

@keyframes changecolor_oposite {
    0% {
        color: #28282B;
        background-color: white;
    }

    100% {
        color: white;
        background-color: #28282B;
    }
}

@keyframes changecolorred {
    0% {
        color: white;
        background-color: #f14668;
    }
    
    100% {
        color: #f14668;
        background-color: white;
    }
}

/* Animations for text or images */
@keyframes slideInUp {
    0% {
        transform: translateY(+40%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* ============ MEDIA AND CSS REDUCTION ============ */

@media only screen and (max-width: 1000px) {
    .landingpage__templateshow {
        flex-direction: column;
        align-items: center;
    }

    .landingpage__templatedescription {
        width: calc(100% - 120px);
        margin-bottom: 60px;
    }

    .landingpage__templateimagesstack {
        width: 600px;
        max-width: 100%;
    }

    .landingpage__instructions__container {
        flex-direction: column;
        align-items: center;
    }

    .landingpage__instructions {
        width: calc(100% - 120px);
        margin-bottom: 60px;
    }

    .landingpage__instructionsimage {
        width: 500px;
        max-width: 100%;
    }
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
    :root {
        --graph-width: 95vw;
    }

    .header__item + .header__item {
        margin-left: 10px;
    }

    /* TODO: make header items smaller */

    .usercircle__button {
        margin-right: 10px;
    }

    .loginandfakegraphs {
        margin-left: 10px;
        margin-right: 10px;
    }

    .landingpage__title {
        font-size: 52px;
    }

    .landingpage__subtitle {
        font-size: 18px;
    }

    .landingpage__templatedescription {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }

    .landingpage__templateimagesstack {
        height: 500px;
    }

    .templateimagestacksquare {
        width: 350px;
        height: 350px;
        top: calc(50% - 350px/2);
        left: calc(50% - 350px/2);
    }

    .templateimage {
        width: 300px;
    }

    .landingpage__instructions {
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }

    .landingpage__instructionsimage {
        height: 500px;
    }

    .templateimagestackrectangle {
        width: 320px;
        height: 405px;
        top: calc(50% - 405px/2);
        left: calc(50% - 320px/2);
    }

    .landingpage__instructionsimage > img {
        width: 320px;
        /* left: 5vw; */
    }

    .usergraphsgrid__container {
        width: 95vw;
    }

    .gettemplatewizard__container {
        width: calc(95vw - 40px);
    }

    .wizardwarningicon {
        right: 10px;
        top: 10px;
    }
    
    .usergraph__item {
        padding: 10px;
    }

    .usergraph__loadinggraph {
        width: calc(var(--graph-width) - 22px);
        height: calc((var(--graph-width) - 22px) / 2);
    }
    
    .usergraph__loadinggraph__type {
        font-weight: 900;
        font-size: 12px;
    }
}